@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.list {
    margin: 0.25rem 1rem;
    border: 1px solid $nonary-colour;
    border-radius: 1rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    @include flex(column, normal, normal);
    color: $duodenary-colour;

    &__name {
        font-size: 0.9rem;
        margin: 0;
        align-self: flex-start;
    }
    
    &__email{
        font-size: 0.85rem ;
        margin: 0;
    }
}
