@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.list {
    border-top: 1px solid $nonary-colour;

    &__item{
        margin: 0.25rem 0;
        border-bottom: 1px solid $nonary-colour;
        width: 100%;
        padding: 0.25rem 0 0.5rem 0.5rem;
        @include flex(column, normal, flex-start);
        color: $duodenary-colour;
    }

    &__name {
        font-size: 0.9rem;
        margin: 0;
    }
    
    &__email{
        font-size: 0.85rem ;
        margin: 0;
    }
}
