@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.added{
    overflow-y: scroll;
    height: 5rem;

    &__user{
        color: $duodenary-colour;
        border: 1px solid $duodenary-colour;
        border-radius: 1.5rem;
        width: fit-content;
        padding: 0.25rem 0.75rem;
        @include flex(column, normal, normal);
    }

    &__name{
        margin: 0;
        font-size: 0.85rem;
        align-self: flex-start;
    }

    &__email{
        margin: 0;
        font-size: 0.75rem;
    }
}