@use "../../styles/partials/variables" as *;

.group-card{
    display: flex;
    background-color: $primary-colour;
    border-radius: 1.5rem;
    border: 1px solid $decenary-colour;
    margin-left: 0.5rem;

    &__navlink{
        text-decoration: none;
        color: $duodenary-colour;
    }

    &__name {
        font-weight: 700;
        font-size: 1rem;
        margin: 0.25rem 0.25rem 0.25rem 0.75rem;
        white-space: nowrap;
    }

    &__delete {
        width: 1rem;
        margin: 0 0.5rem;
    }

}