@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.modal{
    // position: absolute;
    position: fixed;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: $thirteenth-colour;
    color: $nonary-colour;
    padding: 0.75rem;
    margin-top: 12rem;
    height: 34rem;
    width: 19.25rem;
    align-self: center;
    border: 2px solid $decenary-colour;
    border-radius: 1.5rem;
    @include flex(column, normal, normal);

    @include tablet {
        top:28.5%;
        width: 28rem;
        border-radius: 2.5rem;
    }

    @include desktop {
        padding: 1.25rem;
        height: 38rem;
        border-radius: 3rem;
    }

    &__icon{
        width: 1.5rem;
        align-self: flex-end;
        padding-right: 0.25rem;
    } 

    &__title {
        font-size: 2.1rem;
        margin: 1rem 0 0.5rem 0;
        color: $senary-colour;
    }
}