@use '../../styles/partials/variables' as *;

.modal{
    position: absolute;
    z-index: 3;
    background-color: $senary-colour;
    color: $nonary-colour;
    padding: 0.75rem;
    margin-top: 27rem;
    height: 30rem;
    width: 19.25rem;
    align-self: center;
    border: 1px solid $decenary-colour;
    border-radius: 1.5rem;

    &__title {
        font-size: 2.1rem;
        margin: 0.75rem 0 0.5rem 0;
    }
}