$primary-colour: #F0F8FF; //alice blue
$secondary-colour: #004953; //eagles midnight green
$tertiary-colour: #5072A7; //blue yonder
$quaternary-colour: #ADD8E6; //light blue
$quinary-colour: #0093AF; //munsell blue
$senary-colour: #E6E6FA; //lavendar
$septenary-colour: #005f69; //peacock
$octonary-colour: #5D76A9; //grizzlies blue
$nonary-colour: #004170; //PSG blue
$decenary-colour: #6082B6; //glaucous