$primary-colour: #EEF2FA;
$secondary-colour: #105F90;
$tertiary-colour: #5AADE2;
$quaternary-colour: #78C2F0; 
$quinary-colour: #0093AF; //munsell blue
$senary-colour: #4B9ED2; 
$septenary-colour: #F35355; 
$octonary-colour: #F5F8FA;
$nonary-colour: #356095;
$decenary-colour: #6DA2C4; 
$undenary-colour: #aec6cf ; 
$duodenary-colour: #5289AC; 
$thirteenth-colour: #E9F5FC; 
// $thirteenth-colour: #E4EDF4; 
$fourteenth-colour: #5192BB; 
// $fourteenth-colour: #4C92BE; 



// $primary-colour: #F0F8FF; //alice blue
// $secondary-colour: #004953; //eagles midnight green
// $tertiary-colour: #5072A7; //blue yonder
// $quaternary-colour: #ADD8E6; //light blue
// $senary-colour: #E6E6FA; //lavendar
// $septenary-colour: #005f69; //peacock
// $octonary-colour: #5D76A9; //grizzlies blue
// $nonary-colour: #004170; //PSG blue
// $decenary-colour: #6082B6; //glaucous
// $undenary-colour: #aec6cf ; //pastel
// $duodenary-colour: #536895; //ucla blue
// $thirteenth-colour: #e7feff; //bubbles
// $fourteenth-colour: #bcd4e6; //powder
$fifteenth-colour: #E0ECF9;

$first-colour: #9C9A9A;