$primary-colour: #EEF2FA;
$secondary-colour: #105F90;
$tertiary-colour: #5AADE2;
$quaternary-colour: #78C2F0; 
$quinary-colour: #0093AF; //munsell blue
$senary-colour: #4B9ED2; 
$septenary-colour: #F35355; 
$octonary-colour: #F5F8FA;
$nonary-colour: #356095;
$decenary-colour: #6DA2C4; 
$undenary-colour: #aec6cf ; 
$duodenary-colour: #5289AC; 
$thirteenth-colour: #E9F5FC; 
// $thirteenth-colour: #E4EDF4; 
$fourteenth-colour: #5192BB; 
// $fourteenth-colour: #4C92BE; 
$fifteenth-colour: #31AAF7;
$sixteenth-colour: #9C9A9A;