@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.register {
    @include flex(column, space-evenly, center);
    height: 35rem;

    &__title {
        margin-bottom: 0.4rem;
        color: $senary-colour;
    }

    &__link{
        text-decoration: none;
        color: $nonary-colour;
        
        &:hover {
            cursor: pointer;
            color: $quinary-colour;
        }
    }

}