@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.register {
    @include flex(column, space-evenly, center);
    height: 35rem;

    @include desktop{
        margin-top: 1.5rem;
    }

    &__title {
        margin-bottom: 0.4rem;
        color: $senary-colour;
    }

    &__link{
        text-decoration: none;
        color: $nonary-colour;
        
        &:hover {
            cursor: pointer;
            color: $quinary-colour;
        }
    }

    &__text{
        @include desktop {
            font-size: 1.25rem;
            margin-top: 5rem;
        }
    
    }

}