@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.header{
    @include flex(row, space-between, center);
    padding: 1.5rem 0.5rem 0.25rem 0rem;
    width: 100%;
    background-color: $primary-colour;

    &--loggedout {
        justify-content: center;
    }

    &__logo {
        width: 18rem;
    }
}