@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.search {
    @include flex(column, normal, normal);
    
    &__label {
        margin-left: 0.5rem;
        align-self: flex-start;

        @include desktop {
            font-size: 1.25rem;
        }
    }

    &__input {
        border-radius: 1rem;
        padding: 0.35rem;
        margin: 0.55rem 0 0.5rem 0;
        border-color: $nonary-colour;


        &::placeholder {
            color: $undenary-colour;
        }

        @include desktop {
            font-size: 1.1rem;
        }
    }
    &__scroll{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 7rem;
    }


}