.form {
    padding: 0 1.25rem;

    &__group{
        display: flex;
        flex-direction: column;
    }

    &__label {
        margin-left: 0.5rem;
        align-self: flex-start;
    }

    &__input {
        border-radius: 1rem;
        padding: 0.35rem;
        margin: 0.55rem 0 1.25rem 0;
    }
}